<div>
	<v-dialog v-model="showPokemonDetail"
						persistent
						max-width="570px">
		<template v-if="objectPassModal">
			<v-card>
				<div style="position: relative">
					<v-btn class="btn-float-close"
								 x-small
								 fab
								 absolute
								 depressed
								 top
								 right
								 @click.stop="closeModalDetail">
						<v-icon class="icon-close"> mdi-close </v-icon>
					</v-btn>
				</div>
				<v-row justify="center"
							 class="bg ma-0">
					<v-col cols="8">
						<v-img v-if="objectPassModal"
									 v-bind:src="objectPassModal.sprites.front_default"
									 max-width="500"
									 max-height="300">
							<template v-slot:placeholder>
								<v-sheet color="grey lighten-4"
												 class="px-3 pt-3 pb-3 fill-height">
									<v-skeleton-loader class="mx-auto"
																		 type="image"></v-skeleton-loader>
								</v-sheet>
							</template>
						</v-img>
					</v-col>
				</v-row>
				<v-card-text class="mt-5">
					<v-row class="mx-0">
						<p class="detail-description">
							<strong>Name:</strong>
							{{ objectPassModal.nameUpper }}
						</p>
					</v-row>
					<v-row class="mx-0">
						<v-divider></v-divider>
					</v-row>
					<v-row class="mx-0">
						<p class="detail-description">
							<strong>Weight:</strong>
							{{ objectPassModal.weight }}
						</p>
					</v-row>
					<v-row class="mx-0">
						<v-divider></v-divider>
					</v-row>
					<v-row class="mx-0">
						<p class="detail-description">
							<strong>Height:</strong>
							{{ objectPassModal.height }}
						</p>
					</v-row>
					<v-row class="mx-0">
						<v-divider></v-divider>
					</v-row>
					<v-row class="mx-0">
						<p class="detail-description">
							<strong>Types:</strong>
							{{ objectPassModal.typesList }}
						</p>
					</v-row>
				</v-card-text>
				<v-card-actions>
					<v-btn :class="[
													{ 'btn-share-small': $vuetify.breakpoint.xs },
													{ 'btn-share-normal': !$vuetify.breakpoint.xs },
													'white--text',
													'btn-share',
											]"
								 elevation="2"
								 raised
								 @click="copyClipboard">Share to my friends</v-btn>
					<v-spacer></v-spacer>
					<v-btn class="mx-2"
								 fab
								 dark
								 small
								 elevation="0"
								 :class="[
													{
															'btn-fav-selected': objectPassModal.favorite,
													},
													'btn-fav',
											]">
						<v-icon dark
										size="26"> mdi-star </v-icon>
					</v-btn>
				</v-card-actions>
			</v-card>
		</template>
	</v-dialog>
	<v-snackbar v-model="snackbar">
		Text copied!
		<template v-slot:action="{ attrs }">
			<v-btn color="pink"
						 text
						 v-bind="attrs"
						 @click="snackbar = false">
				Close
			</v-btn>
		</template>
	</v-snackbar>
</div>