<v-container fill-height>
	<v-row>
		<v-col cols="12">
			<v-row justify="center">
				<v-col cols="10"
							 sm="8"
							 md="6"
							 lg="4"
							 xl="3">
					<v-img src="../../assets/logo.png"></v-img>
				</v-col>
			</v-row>
		</v-col>
		<v-col cols="12"
					 class="mt-12">
			<v-row justify="center">
				<h1 class="home-title">{{ title }}</h1>
			</v-row>
		</v-col>
		<v-col cols="12"
					 class="mt-5">
			<v-row justify="center">
				<v-col class="text-center"
							 cols="8">
					<p class="home-description">
						The digital encyclopedia created by Professor Oak is
						an invaluable tool <br />
						to Trainers in the Pokémon world.
					</p>
				</v-col>
			</v-row>
		</v-col>
		<v-col cols="12"
					 class="mt-8">
			<v-row justify="center">
				<v-btn class="white--text init-btn"
							 elevation="2"
							 raised
							 to="/search">Get Started</v-btn>
			</v-row>
		</v-col>
	</v-row>
</v-container>