<div>
	<LoadingScreen :isLoading="isLoading" />
	<v-container v-if="!isLoading"
							 class="p-0">
		<v-row justify="center"
					 class="search-bar-position">
			<v-col cols="12"
						 sm="8"
						 md="8"
						 lg="6"
						 class="pb-0">
				<v-text-field v-model="inputSearch"
											label="Search"
											prepend-inner-icon="mdi-magnify"
											solo
											v-on:keyup.enter="onSearchPokemon"
											clearable
											@click:clear="onClearClicked"></v-text-field>
			</v-col>
		</v-row>
		<Transition name="bounce">
			<div v-if="alertSuccess || alertError">
				<v-row justify="center"
							 class="mt-4">
					<v-col cols="12"
								 sm="8"
								 md="8"
								 lg="6">
						<v-alert type="success"
										 :value="alertSuccess">
							{{ successMessage }}
						</v-alert>
						<v-alert type="error"
										 :value="alertError">
							{{ errorMessage }}
						</v-alert>
					</v-col>
				</v-row>
			</div>
		</Transition>
		<v-row justify="center"
					 class="content mb-12 mt-0">
			<v-col cols="12"
						 sm="8"
						 md="8"
						 lg="6"
						 v-if="pokemonList.length == 0">
				<PokemonEmptyList></PokemonEmptyList>
			</v-col>

			<v-col cols="12"
						 sm="8"
						 md="8"
						 lg="6"
						 v-if="pokemonList.length != 0">
				<div v-for="(pokemon, index) in pokemonList"
						 :key="pokemon.name">
					<v-card elevation="2"
									class="mt-2 p-5"
									@click="
													showPokemonDetailModal({
															name: pokemon.name,
															favorite: pokemon.favorite,
													})
											">
						<v-card-text>
							<v-row align="center">
								<v-col cols="9"
											 sm="10"
											 class="card-text-color">
									{{ pokemon.nameUpper }}
								</v-col>
								<v-col cols="3"
											 sm="2"
											 class="text-right">
									<v-btn class="mx-2"
												 fab
												 dark
												 small
												 elevation="0"
												 :class="[
																					{
																							'btn-fav-selected':
																									pokemon.favorite,
																					},
																					'btn-fav',
																			]"
												 @click.stop="
																					changeFavorite(pokemon,index)
																			">
										<v-icon dark
														size="26">
											mdi-star
										</v-icon>
									</v-btn>
								</v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</div>
			</v-col>
		</v-row>
	</v-container>
	<v-container fluid
							 class="container-bottom"
							 v-if="pokemonList.length != 0">
		<v-container>
			<v-row justify="center">
				<v-col cols="6"
							 sm="4"
							 md="4"
							 lg="3">
					<v-btn :class="[
													{ 'btn-select': btnSelectBottom == 'all' },
													'btn-bottom',
											]"
								 @click="changeSelected('all')">
						<v-icon left
										dark
										size="22">
							mdi-format-list-bulleted
						</v-icon>
						All
					</v-btn>
				</v-col>
				<v-col cols="6"
							 sm="4"
							 md="4"
							 lg="3">
					<v-btn :class="[
													{ 'btn-select': btnSelectBottom == 'fav' },
													'btn-bottom',
											]"
								 @click="changeSelected('fav')">
						<v-icon left
										dark
										size="22"> mdi-star </v-icon>
						Favorites
					</v-btn>
				</v-col>
			</v-row>
		</v-container>
	</v-container>
	<PokemonDetail v-model="showPokemonDetail"
								 :modal.sync="showPokemonDetail" />
</div>